@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Muli", "Roboto", 'Segoe UI';
  height: auto;
}

header {
  margin: 20px 100px 10px 100px;
  padding: 10px 50px 1px 50px;
}

.intro, .intro2 {
  text-transform: capitalize;
  font-size: 5.5em;
  align-items: center;
  justify-content: center;
}

.port-word {
  /* font-weight: bolder; */
  font-variant: small-caps;
  font-size: 1.4em;
}

.explore {
  text-decoration: none;
  display: inline-block;
}

.explore>li {
  list-style-type: none;
  font-size: 3.4em;
  letter-spacing: 2px;
  text-align: center;
  border: 1px solid transparent;
  padding: 10px;
  background-color: black;
  color: white;
  transition: 0.5s linear;
  width: 100%;
  border-radius: 34px;
  font-family: cursive;
}

.explore>li:hover {
  background-color: transparent;
  color: black;
  box-shadow: 2px 1.5px 1px black;
}

main>ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}