@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Muli", "Roboto", 'Segoe UI';
  height: auto;
}

header {
  margin: 1px;
  padding: 5px;
}

nav > ul > a {
  text-decoration: none;
}

nav > ul > a > li {
  list-style-type: none;
}

.no_display {
  display: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: transparent;
  height: auto;
  width: 100%;
}

.ham {
  cursor: pointer;
}

#close_img {
  background-color: black;
  height: 20px;
  width: 20px;
  padding: 1px;
  border-radius: 7px;
  margin: 0px 0px 0px 1em;
}